- unless current_store # We do not show this link if store exists because users can't go to it anyway
  = link_to connect_back_stores_path, class: 'hc-margin-top__xl hc-text-align__center hc-display__block' do
    = hc_icon 'angle-left'
    = "Connect with different platform"
