= render   'shared/system_messages/custom',
  action:  { name: 'View products', url: back_products_path },
  body:    'Your products have been imported',
  role:    'imported-products',
  type:    'success',
  persist: true
