var injection_button = jQuery('[data-role="auto-inject-button"]');
injection_button.attr('href', 'javascript:void(0);').html('<span class="hc-margin-right__xs"><%= spinner_icon %></span> ' + injection_button.attr('data-processing-text'));
