var check_button = jQuery('[data-role="check-embed-success-button"]');
check_button.attr('href', 'javascript:void(0);').html('<span class="hc-margin-right__xs"><%= spinner_icon %></span> ' + check_button.attr('data-processing-text'));
